<div id="aside">

  <div id="logo">
    <img src="../assets/logo.png" alt="">
  </div>

  <div id="links" >
    <ul>
      <li><a href="https://github.com/Salim-belkhir " target="_blank"><i data-feather="github"></i></a></li>
      <li><a href="https://www.linkedin.com/in/salim-belkhir-50aab5235" target="_blank"><i data-feather="linkedin"></i></a></li>
      <li><a href="mailto:salimbelkhir7@gmail.com"><i data-feather="mail"></i></a></li>
    </ul>
  </div>

  <div class="vertical"></div>

</div>
