<div id="about">

  <div class="card animate__animated animate__flipInY">
    <div id="image" class="card-front">
      <img src="../../../assets/photo-cv.png">
    </div>

    <div class="card-back">
      <ul>
        Informations :
        <li>Nom : <span class="data">"Belkhir"</span><br></li>
        <li>Prenom : <span class="data">"Salim"</span><br></li>
        <li>Age : <span class="data">"21 ans"</span><br></li>
        <li>Lieu de naissance : <span class="data">"Vimercate, Italie"</span><br></li>
        <li>Nationalité : <span class="data">"Belge"</span><br></li>
      </ul>
    </div>
  </div>


  <div id="infos">
    <h2 class="animate__animated animate__bounceInDown">A propos de moi<!--About Me--></h2>

    <!--Hi, I am Salim Belkhir, an engineer student in Computer Science and Management at Polytech Montpellier. I am-->
    <p> Bonjour, je m'appelle Salim Belkhir et je suis étudiant en 4ème année du cycle ingénieur en Informatique et Gestion à Polytech Montpellier </p>
  </div>

</div>
